.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.logo-client {
  height: 32px;
  margin: 0 8px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  position: absolute;
  bottom: 12px;
  right: 0;
  left: 0;
}

.profile {
  height: 48px;
  position: absolute;
  bottom: 56px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
}